*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main{
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    padding: 20px;
    box-shadow: inset 0px 0px 10px 4px rgba(0,0,0,0.36);
    -webkit-box-shadow: inset 0px 0px 10px 4px rgba(0,0,0,0.36);
    -moz-box-shadow: inset 0px 0px 10px 4px rgba(0,0,0,0.36);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
#playerInput1,
#playerInput2,
#playerInput3,
#playerInput4{
    width: 410px;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    outline: none;
}

#playerInput2,
#playerInput3,
#playerInput4{
    width: 350px;
}
#playerInput2::placeholder,
#playerInput3::placeholder,
#playerInput4::placeholder{
    font-size: 18px;
}
#playerInputBtn1,
#playerInputBtn2,
#playerInputBtn3,
#playerInputBtn4{
    width: 116px;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
#playerInput2,
#playerInputBtn2,
#playerInput3,
#playerInputBtn3,
#playerInput4,
#playerInputBtn4{
    display: none;
}
.title{
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 20px;
}
#errorMessage{
    display: inline-block;
    color: red;
    text-transform: capitalize;
    margin-top: 10px;
}
#chance{
    display: none;
}
#winner,
#winner1{
    font-size: 30px;
    font-weight: 700;
    color: purple;
    margin-bottom: 25px;
}
#congratulation{
    width: 100%;
    height: auto;
    display: none;
}
.playerName{
    text-align: center;
}

.winnerData {
    font-size: 30px;
    color: green;
    text-transform: uppercase;
    font-weight: 900;
}
.loserData {
    font-size: 30px;
    color: red;
    text-transform: uppercase;
    font-weight: 900;
}